<div class="card text-center shadow">
    <div class="card-header bg-dark text-white ">
        <h2 class="card-title">{{driver.fullName | titlecase}}</h2>
    </div>
    <div class="card-body">
        <img [src]="driver.coverImage" class="img-fluid" width="300px"height="150px" alt="photo {{driver.name}}">
        <hr>
        <p>Origine : {{driver.pays | uppercase }}
            <span *ngIf="driver.pays == null">NC</span></p>
        
        <p>Discipline :
            <span [ngClass]="{'badge':true,
                                'badge-info': driver.category < 1000,
                                'badge-warning': driver.category >= 1000}">{{driver.category | titlecase }}</span>
            <span *ngIf="driver.category == null">NC</span>
        </p>   
        
        <p>{{driver.likeIts}}
            </p>      
       
        <hr>
      
        <p [ngClass]="{'text-success':isLiked}">{{ likingMessage}}</p>
        <button class="btn btn-primary" (click)="onLiking()" [disabled]="isLiked">👍</button>

        <p [ngClass]="{'text-danger':isUnliked}">{{ unlikingMessage }}</p>
        <button class="btn btn-danger" (click)="onUnliked()" [disabled]="isUnliked">👎</button>
      
    </div>


</div>
