<div class="card text-center shadow">
    <div class="card-header bg-dark text-white ">
        <h2 class="card-title">{{driver.fullName | titlecase}}</h2>
    </div>
    <div class="card-body">
        <img [src]="driver.coverImage" class="img-fluid" alt="photo {{driver.name}}">
        <hr>
        <p>Origine : {{driver.pays | uppercase }}
        <p>Discipline :
            <span [ngClass]="{'badge':true,
                                'badge-info': driver.category < 1000,
                                'badge-warning': driver.category >= 1000}">{{driver.category | titlecase }}</span>
        </p>   
        
        <p>{{driver.likeIts}}      
            
        <hr>
        <button class="btn btn-primary">Réserver</button>
    </div>


</div>
