<h1 class="my-5">
    Nos Pilotes
</h1>

   
<p [style.color]="colorOne">
    Style.color et une couleur en props !
   </p>
   
   <p [style.color]="getCouleur()">
       Style.color fonctionne aussi avec une méthode ! 
   </p>
   
   <p [style.color]="'gold'">
       Style.color ou comme ça mais pas fou...(ouf)
   </p>

   <p [style.background-color]="getCouleur()">
    Style.color fonctionne aussi avec une méthode ! 
</p>

<h3  
[style.background-color]="onOff ? colorOne : getCouleur() ">

   ça part en live ou c'est moi ???
    Donc si on mix tout !
    GEnre databinding + Directives...

</h3>

<button
    (click)="onSwitch()"
class="btn btn-info my-5">
<span *ngIf="!onOff" > ON </span>
<span *ngIf="onOff"> OFF </span>

</button> 